<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auth ICT Tracker</title>
    {% include 'partials/styles.html' %}
</head>
<body class="flex items-center justify-center">
    <div class="h-screen w-full flex items-center justify-center bg-[url('https://ecg.com.gh/images/site/ECG_CoreValues2.jpg')] bg-cover bg-center">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>